﻿@model IEnumerable<WebHarkka.Models.WorkRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container margin-top-md margin-bottom-lg">
    <!-- header ja uusi button -->
    <div class="row margin-bottom-md">
        <div class="col-md-8">
            <h2>Työtarjoukset</h2>
        </div>
        <div class="col-md-4 padding-md pull-right">
            <!-- dialog button -->
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-create-workorder" data-url="@Url.Action("ModalCreate")">
                Luo tästä uusi työtilaus
            </button>
        </div>
    </div>

    <!-- Hakutoiminnot -->

    <div class="row margin-sm">

        <label for="search-text">Tarjouspyynnön jättäjä</label>
        <div class="input-group">
            <input id="search-text" type="text" class="form-control" placeholder="Käyttäjätunnus">
            <span class="input-group-btn">
                <button id="search-button" class="btn btn-default" type="button" data-url="@Url.Action("RequestsTable")">Hae</button>
            </span>
        </div>
    </div>

    <div class="row margin-sm">
        <label for="search-date">Tarjouspäivä (lähtien)</label>
        <input id="search-date" type="date" class="form-control" />
    </div>

    <div class="row margin-sm">
        <label for="search-state">Tila</label>
        <select id="search-state" class="form-control" asp-items="Html.GetEnumSelectList<RequestState>()">
            <option value="-1" selected>Kaikki</option>
        </select>
    </div>

</div>


<!-- Dialogille luotu container -->
<div id="modal-placeholder"></div>

<!-- Taululle luotu container -->
<div id="table-placeholder"></div>




<environment include="Development">
    <script src="~/js/workrequests.js" asp-append-version="true"></script>
</environment>



@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequestDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostEstimate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostEstimate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
