﻿@model WebHarkka.Models.WorkRequest

@{

}

<div id="modal-create-workrequest" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Uusi työtarjous</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-action="ModalCreate">
                    <div class="form-group">
                        <label asp-for="Description">Anna tarjoukselle kuvaus</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="modal">Tallenna</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulje</button>
            </div>

        </div>
    </div>
</div>
