﻿@model WebHarkka.ViewModels.CostEstimateViewModel

@*

*@

<div id="modal-cost-estimate" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Lisää kustannusarvio</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-action="AddCostEstimate">
                    <div class="form-group">
                        <input asp-for="RequestId" hidden />
                        <label asp-for="CostEstimate">Anna tarjoukselle kustannusarvio</label>
                        <input asp-for="CostEstimate" class="form-control" />
                        <span asp-validation-for="CostEstimate" class="text-danger"></span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="modal">Tallenna</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulje</button>
            </div>

        </div>
    </div>
</div>