﻿@model IEnumerable<WebHarkka.Models.WorkRequest>
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostEstimate)
            </th>

            @if (User.IsInRole("Customer"))
            {
                <th></th>
            }

            @if (User.IsInRole("Manager"))
            {
                <th></th>
            }

            @if (User.IsInRole("Admin"))
            {
                <th>
                    Adminin työkalut
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostEstimate)
                </td>

                @if (User.IsInRole("Customer"))
                {
                <td>
                    @if (item.State == RequestState.Requested)
                    {
                        <a class="button-edit btn btn-primary">Muokkaa</a>
                    }

                    @if (item.State == RequestState.Responded)
                    {
                        <a asp-action="ChangeState" asp-route-id="@item.Id" asp-route-state="@RequestState.Accepted" class="button-accept btn btn-success">Hyväksy</a>
                        <a asp-action="ChangeState" asp-route-id="@item.Id" asp-route-state="@RequestState.Declined" class="button-decline btn btn-danger">Hylkää</a>
                    }
                </td>
                }

                @if (User.IsInRole("Manager") && (item.State == RequestState.Requested || item.State == RequestState.Declined))
                {
                    <td>
                        <button type="button" class="button-cost-est btn btn-primary" data-toggle="modal" data-target="#modal-start" data-url="@Url.Action("ModalAddCostEstimate")" data-request-id="@item.Id">
                            Lisää vastaus (kustannusarvio)
                        </button>
                    </td>
                }

                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div id="modal-placeholder-cost"></div>

<script type="text/javascript">

    $(function () {

        var costEstimateButton = $('.button-cost-est');
        var container = $('#modal-placeholder-cost');
        var modal;

        costEstimateButton.click(function (event) {
            var requestId = $(this).data('request-id');
            var url = $(this).data('url') + "?requestid=" + requestId;
            
            console.log(url);

            $.get(url).done(function (data) {
                container.html(data);
                container.find('.modal').modal('show');
            });


        });

        container.on('click', '[data-save="modal"]', function (event) {
            event.preventDefault();
            console.log("POST");

            var form = container.find('.modal').find('form');
        
            var url = form.attr('action');
            var data = form.serialize();

            console.log(data);
        
            $.post(url, data).done(function (data) {
                //console.log(data);
                updateRequestsTable("", "01-01-2012", -1);

                container.find('.modal').modal('hide');

            });
        });


        function updateRequestsTable(query, date, state) {
            console.log("updateRequestsTable()");

            var url = "WorkRequests/RequestsTable";

            $.ajax({
                url: url,
                type: "get",
                data: {
                    search: query,
                    date: date,
                    state: state
                },
                success: function (response) {
                    $('#table-placeholder').html(response);
                }
            });
        };


    })

</script>