﻿@model WebHarkka.Models.WorkOrder

@{
    ViewData["Title"] = "Lisätiedot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lisätiedot</h2>

<div>
    <h4>Työtilaus</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoneDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoneDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApproveDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApproveDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RejectDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RejectDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>

<!-- TODO -->
<div id="comments-placeholder"></div>
<div id="materials-placeholder"></div>

<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index">Takaisin listaan</a>
</div>
