﻿@model WebHarkka.Models.WorkOrder

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>WorkOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>

                @if (User.IsInRole("Admin"))
                {
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserIds"></select>
                }
                else
                {
                    <input disabled asp-for="UserId" class="form-control" value="@ViewBag.UserId" />
                }

            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoneDate" class="control-label"></label>
                <input asp-for="DoneDate" class="form-control" />
                <span asp-validation-for="DoneDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApproveDate" class="control-label"></label>
                <input asp-for="ApproveDate" class="form-control" />
                <span asp-validation-for="ApproveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RejectDate" class="control-label"></label>
                <input asp-for="RejectDate" class="form-control" />
                <span asp-validation-for="RejectDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" class="form-control"></select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

