﻿@using Microsoft.AspNetCore.Identity

@model IEnumerable<WebHarkka.Models.WorkOrder>

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["admin"] = User.IsInRole("Admin");
    ViewData["manager"] = User.IsInRole("Manager");
    ViewData["customer"] = User.IsInRole("Customer");
}

admin = @ViewData["admin"]
<br />
manager = @ViewData["manager"]
<br />
customer = @ViewData["customer"]
<br />

<div class="container margin-top-md margin-bottom-lg">

    <!-- header ja uusi button -->

    <div class="row margin-bottom-md">
        <div class="col-md-8">
            <h2>Työtilaukset</h2>
        </div>
        <div class="col-md-4 padding-md pull-right">
            <!-- dialog button -->
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-create-workrequest" data-url="@Url.Action("ModalCreate")">
                Luo tästä uusi tarjous
            </button>
        </div>
    </div>

    <!-- Hakutoiminnot -->

    <div class="row margin-sm">

        <label for="search-text">Tilaaja</label>
        <div class="input-group">
            <input id="search-text" type="text" class="form-control" placeholder="Tilaaja">
            <span class="input-group-btn">
                <button id="search-button" class="btn btn-default" type="button" data-url="@Url.Action("OrdersTable")">Hae</button>
            </span>
        </div>
    </div>

    <div class="row margin-sm">
        <label for="search-date">Aloituspvm</label>
        <input id="search-date" type="date" class="form-control" />
    </div>

    <div class="row margin-sm">
        <label for="search-state">Tila</label>
        <select id="search-state" class="form-control" asp-items="Html.GetEnumSelectList<OrderState>()">
            <option value="-1" selected>Kaikki</option>
        </select>
    </div>

</div>

@*
    <p>
        <a asp-action="Create">Create New</a>
    </p>
*@

<!-- Dialogille luotu container -->
<div id="modal-placeholder"></div>

<!-- Taululle luotu container -->
<div id="table-placeholder"></div>


<environment include="Development">
    <script src="~/js/workorders.js" asp-append-version="true"></script>
</environment>

@*@section Scripts {

        <script type="text/javascript">

            $(function () {
                console.log("index.cshtml scripts");
                //updateOrdersTable("", "", -1);

                $.ajax({
                    url: "WorkOrders/OrdersTable",
                    type: "get",
                    data: {
                        search: "",
                        date: "",
                        state: -1
                    },
                    success: function (response) {
                        $('#table-placeholder').html(response);
                    }
                });
            })

        </script>

    }*@


@*<table id="orders-table" class="table">
        <thead>
            <tr>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                }

                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>

                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DoneDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApproveDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RejectDate)
                    </th>
                }

                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Email)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>

                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoneDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApproveDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RejectDate)
                        </td>
                    }

                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>

                    @if (User.IsInRole("Manager"))
                    {
                        // Avaa dialogi tässä
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-start">
                                Aloita
                            </button>
                        </td>

                    }


                    @if (User.IsInRole("Customer") && @item.State == OrderState.Ordered)
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Muokkaa</a>
                        </td>
                    }

                    @if (User.IsInRole("Customer") && item.State == OrderState.Completed)
                    {
                        <td>
                            <a class="btn btn-success" asp-action="">Hyväksy</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-action="">Hylkää</a>
                        </td>
                    }

                    <td>
                        <a class="btn bg-info" asp-action="Details" asp-route-id="@item.Id">Lisätiedot</a>
                    </td>

                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>*@
