﻿@model WebHarkka.ViewModels.MaterialsViewModel;

<h4>Material</h4>
<hr />

<div id="modal-create-workorder" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Kustanteet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-action="AddMaterial">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NewMaterial.Name" class="control-label"></label>
                        <input asp-for="NewMaterial.Name" class="form-control" />
                        <span asp-validation-for="NewMaterial.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewMaterial.Description" class="control-label"></label>
                        <input asp-for="NewMaterial.Description" class="form-control" />
                        <span asp-validation-for="NewMaterial.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewMaterial.Quantity" class="control-label"></label>
                        <input asp-for="NewMaterial.Quantity" class="form-control" />
                        <span asp-validation-for="NewMaterial.Quantity" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>*@
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="modal">Tallenna</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulje</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
