﻿@model IEnumerable<WebHarkka.Models.WorkOrder>
<table id="orders-table" class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
            }

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>

            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DoneDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApproveDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RejectDate)
                </th>
            }

            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>

            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoneDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApproveDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RejectDate)
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>

            @if (User.IsInRole("Manager"))
            {
                // Avaa tilanmuutos-dialogi tässä
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-start">
                        Aloita
                    </button>
                </td>

            }

            @if (User.IsInRole("Customer") && item.State == OrderState.Completed)
            {
                <td>
                    <a class="btn btn-success" asp-action="">Hyväksy</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="">Hylkää</a>
                </td>
            }
            else
            {
                <td></td>
                <td></td>
            }

            <td>
                <a class="btn bg-info" asp-action="Details" asp-route-id="@item.Id">Lisätiedot</a>
            </td>

            @if (User.IsInRole("Customer") && @item.State == OrderState.Ordered)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Muokkaa</a>
                </td>
            }
            else
            {
                <td></td>
            }

            @if(User.IsInRole("Manager"))
            {
                <td>
                    <button class="button-add-material btn btn-default" data-toggle="modal" data-target="#modal-start" data-url="@Url.Action("ModalAddMaterial")" data-order-id="@item.Id">Lisää kustannus</button>
                </td>
            }

            @*Adminille tarkoitetut työkalut*@
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>

<div id="modal-container-material"></div>

<script type="text/javascript">
    var addMaterialButton = $('.button-add-material');
    var container = $('#modal-container-material');
    var modal;

    addMaterialButton.click(function (event) {
        var requestId = $(this).data('order-id');
        var url = $(this).data('url') + "?order=" + requestId;

        console.log(url);

        $.get(url).done(function (data) {
            container.html(data);
            container.find('.modal').modal('show');
        });


    });


</script>