@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">

            @if (User.IsInRole("Admin"))
            {
                <li><a asp-area="" asp-controller="Admin" asp-action="Index">Käyttäjien hallinta</a></li>
            }

            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
            </li>

            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Kirjaudu ulos</button>
            </li>

        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Rekisteröidy</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Kirjaudu</a></li>
    </ul>
}