﻿@model AppUser

@{
    ViewData["Title"] = "Käyttäjien hallinta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Käyttäjät</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(u => u.Name)
            </th>
            <th>
                @Html.DisplayNameFor(u => u.Email)
            </th>
            <th>
                @Html.DisplayNameFor(u => u.Address)
            </th>
            <th>
                @Html.DisplayNameFor(u => u.BillingAddress)
            </th>
            <th>
                <button>Resetoi salasana</button>
            </th>
            <th>
                <button>Poista</button>
            </th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var usr in AppUser)
        {
            <tr>
                <td>
                    @Html.DisplayFor(usr => usr.Name)
                </td>
                <td>
                    @Html.DisplayFor(usr => )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
            </tr>
        }*@
    </tbody>
</table>