﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<h4>@ViewData["Title"]</h4>

@Html.Partial("_StatusMessage", Model.StatusMessage)

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    @*<button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>*@
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.PhoneNumber">Puhelin</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            @if (User.IsInRole("Customer"))
            {
                <div class="form-group">
                    <label asp-for="Input.Address">Kotiosoite</label>
                    <input asp-for="Input.Address" class="form-control" />
                </div>


                <div class="form-group">
                    <label asp-for="Input.BillingAddress">Laskutusosoite</label>
                    <input asp-for="Input.BillingAddress" class="form-control" />
                </div>


                <div class="form-group">
                    <label asp-for="Input.Property">Asunto</label>
                    <input asp-for="Input.Property" hidden />

                    <div class="">
                        <label asp-for="Input.Property.PropertyArea">Asunnon pinta-ala</label>
                        <input asp-for="Input.Property.PropertyArea" class="form-control" />

                        <label asp-for="Input.Property.LotArea">Tontin pinta-ala</label>
                        <input asp-for="Input.Property.LotArea" class="form-control" />

                        <label asp-for="Input.Property.PropertyType">Tyyppi</label>
                        <select asp-for="Input.SelectedType" asp-items="@Model.Input.SelectListPropertyTypes" class="form-control">

                            <option>Valitse tyyppi</option>

                        </select>
                    </div>

                </div>
            }


            <button type="submit" class="btn btn-default">Save</button>


        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
